
<script>
  $.vegas('slideshow', {
    delay:5000,
    backgrounds:[
        { src:'http://s25.postimg.org/vg1qmfub3/Img01.png', fade:1000 },
        { src:'http://s25.postimg.org/oup0moegf/DSCN2301.jpg', fade:1000 },
        { src:'http://s25.postimg.org/vzsf6aptb/IMG_0644.jpg', fade:1000 },
        { src:'http://s25.postimg.org/3qqqw39kf/IMG_1051a.png', fade:1000 }
      ]
    });
</script>

<div id="welcome">
  <h1>Welcome!</h1>
  <h2>
    <a href="construction.html">About Me</a>
    <br><a href="construction.html">My Blog</a></br>
    <a href="http://www.linkedin.com/pub/eric-epperson/2a/973/364/">My LinkedIn</a>
    <br><a href="construction.html">My Projects</a></br>
    <a href="https://github.com/EricDavidEpperson">My Github</a>
  </h2>
</div>
