<div id="welcome">
  <h1>Welcome!</h1>
  <ul><h2>
    <li><a href="construction.html">About</a></li>
    <li><a href="construction.html">Blog</a></li>
    <li><%= link_to "My Linkedin", "http://www.linkedin.com/pub/eric-epperson/2a/973/364/" %></li>
    <li><a href="construction.html">My Projects</a></li>
    <li><%= link_to "My Github", "https://github.com/EricDavidEpperson" %></li>
  </ul></h2>
</div>
