
<script>
  $.vegas('slideshow', {
    delay:5000,
    backgrounds:[
        { src:'http://s25.postimg.org/vg1qmfub3/Img01.png', fade:1000 },
        { src:'http://s25.postimg.org/oup0moegf/DSCN2301.jpg', fade:1000 },
        { src:'http://s25.postimg.org/vzsf6aptb/IMG_0644.jpg', fade:1000 },
        { src:'http://s25.postimg.org/3qqqw39kf/IMG_1051a.png', fade:1000 }
      ]
    });

  function showDiv(divId) {$("#"+divId).show();}
  function hideDiv(divId) {$("#"+divId).hide();}
</script>

<div id="welcome">
  <h1>Welcome!</h1>
  <h2>
    <a href="javascript:showDiv('about');">About Me</a>
    <br><a href="construction.html">My Blog</a></br>
    <a href="http://www.linkedin.com/pub/eric-epperson/2a/973/364/">My LinkedIn</a>
    <br><a href="javascript:showDiv('projects');">My Projects</a></br>
    <a href="https://github.com/EricDavidEpperson">My Github</a>
  </h2>
</div>

<div class="outer">
<div class="middle">
<div class="inner">
  <div id="about">
    <h1>Who is Eric D. Epperson?</h1>
    <p>I was born in 1978 and grew up in the U.S. midwest during the rapidly
      changing 1980's and 1990's. It was a time when digital technology would
      begin its invasion of every part of our culture. My childhood straddled,
      the idyllic suburbia of Steven Spielberg's E.T. and the still approaching
      cyber dystopia envisioned in the early works of William Gibson. </p>
    <p>My escapes were Science-Fiction, the heavier the better, and Video Games,
      whether on PC, NES, or Arcade, it didn't matter. When I was able to get my
      first computer I did everything in my power to connect it to the world wide
      web. I'm a little ashamed to admit my first attempts were through AOL, but
      we all had to start somewhere.</p>
    <p>Graduating from a private Jesuit High School, I took an ill-fortuned try
      at College exploring first Aerospace Engineering and then trying Political
      Science. After 5 semesters of not really applying myself, I decided it
      was time for a break. To eat, I started working in restaurant kitchens and
      found I was good at it. 15 years later I had worked hard to become a Chef
      managing kitchens and restaurants, while making a lot of sacrifices both
      personally and professionally.</p>
    <p>During the time between working as a lowly Pantry Cook, to reaching the
      lofty heights of 'Culinary Mastery' I met and married a beautiful woman from
      South America. Together we embarked on quite a few adventures together,
      enjoying the excitement and the occasional pitfalls of being a couple
      constantly on the move. After nearly 8 years of our journey together, we
      were blessed with an active, smart, precocious baby girl that reminds me
      every day of the wonders that life and growing up present to us all.</p>
    <h3><a href="javascript:hideDiv('about');">Close</a></h3>
  </div>

  <div id="projects">
    <h1>My Projects</h1>
    <h2>Check back here often to see what I've been working on!</h2>
    <p><a href="http://chartography.herokuapp.com/">Chartography</a>
      A sipmle web app for finding your favorite band or artist in concert</p>
    <h3><a href="javascript:hideDiv('projects');">Close</a></h3>
  </div>

</div>
</div>
</div>
