<h1>Who is Eric D. Epperson?</h1>
<p>First thing you should know about me: I have spent the past 15 years of my
  life working as a cook/chef/restrauranteer. It's a great lifestyle for
  someone young and in college or not ready for college. It's Not so great as you
  become a little more mature (and I do mean a little).</p>
<p>That's why I took the Ruby on Rails Engineering course at The Iron Yard
  Academy. I've always loved using computers and technology and it was finally
  time for me to indulge this first passion of my life.</p>
<p>So if you're needing to bring on a passionate Software/Web Developer with
  practical business experience, please feel free to <a href="javascript:showDiv('contact');">contact me</a>.</p>
