<script>
  $.vegas('slideshow', {
    delay:5000,
    backgrounds:[
        { src:'http://s25.postimg.org/vg1qmfub3/Img01.png', fade:1000 },
        { src:'http://s25.postimg.org/oup0moegf/DSCN2301.jpg', fade:1000 },
        { src:'http://s25.postimg.org/vzsf6aptb/IMG_0644.jpg', fade:1000 },
        { src:'http://s25.postimg.org/3qqqw39kf/IMG_1051a.png', fade:1000 }
      ]
    });

  function hideDiv(divId) {$("#"+divId).hide();}
  function showDiv(divId) {$("#"+divId).show();}
</script>

<body>

  <div id="welcome">
    <h2>
      <a href="javascript:showDiv('about');
        javascript:hideDiv('githubs'); javascript:hideDiv('projects');javascript:hideDiv('contact')">About Me</a>
      <br><%= link_to "Blog", posts_path %></br>
      <a href="javascript:showDiv('githubs');
        javascript:hideDiv('about'); javascript:hideDiv('projects');javascript:hideDiv('contact')">Github</a>
      <a href="javascript:showDiv('projects');
        javascript:hideDiv('githubs'); javascript:hideDiv('about');javascript:hideDiv('contact')">Projects</a>
      <a href="http://www.linkedin.com/pub/eric-epperson/2a/973/364/" target="_blank">LinkedIn</a>
      <a href="javascript:showDiv('contact');
        javascript:hideDiv('githubs'); javascript:hideDiv('about');javascript:hideDiv('projects')">Contact Me</a>
    </h2>
  </div>

  <div class="outer">
    <div class="middle">
      <div class="inner">

        <div id="about" class="info">
          <a href="javascript:hideDiv('about');" id="close"></a>
          <%= render partial: 'about'%>
        </div>

        <div id="projects" class="info">
          <a href="javascript:hideDiv('projects');" id="close"></a>
          <h1>My Projects</h1>
          <%= render partial: 'projects'%>
        </div>

        <div id="githubs" class="info">
          <a href="javascript:hideDiv('githubs');" id="close"></a>
          <%= render partial: 'githubs'%>
        </div>

        <div id="contact" class="info">
          <a href="javascript:hideDiv('contact');" id="close"></a>
          <p>Eric D. Epperson</p>
          <p>913.206.5949</p>
          <a href="mailto:ericdavidepperson@gmail.com">ericdavidepperson@gmail.com</a>
        </div>

      </div>
    </div>
  </div>

</body>
