<style>
  body {
    margin:0px;
    background-image: url('http://s25.postimg.org/e4e5sei3z/Arch_with_lens_flare.jpg');
  }
</style>

<header class="centered-navigation">
  <div class="centered-navigation-wrapper">

    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/Diamond-128.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>

    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">About Me</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Projects</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Blog</a></li>
    </ul>
  </div>
</header>

<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"></a>
		<div class="hero-copy">
			<h1>Eric D. Epperson</h1>
			<p>Ruby on Rails Developer</p>
      <div id="socialmedia">
        <ul>
          <li><a href="javascript:void(0)"><%= image_tag('email.png', size:64)%></a></li>
          <li><a href="javascript:void(0)"><%= image_tag('github_alt.png', size:64)%></a></li>
          <li><a href="javascript:void(0)"><%= image_tag('linkedin.png', size:64)%></a></li>
          <li><a href="javascript:void(0)"><%= image_tag('phone_icon_32.png')%></a></li>
        </ul>
      </div>
    </div>
	</div>
</div>
