<head>
  <script>
    $.vegas('slideshow', {
      delay:5000,
      backgrounds:[
        { src:'http://s25.postimg.org/vg1qmfub3/Img01.png', fade:1000 },
        { src:'http://s25.postimg.org/oup0moegf/DSCN2301.jpg', fade:1000 },
        { src:'http://s25.postimg.org/vzsf6aptb/IMG_0644.jpg', fade:1000 },
        { src:'http://s25.postimg.org/3qqqw39kf/IMG_1051a.png', fade:1000 }
      ]
    });
  </script>
  <style>
    #welcome {
      float:right;
      width: 20vw;
      color: #512888;
      font-family: 'Pontano', sans-serif;
      text-shadow: 1px 1px #bdc3c7;
    }
    #welcome h2 {font-size: 2.5rem;}
    #welcome h2
        a:link {color:#512888;text-decoration:none;}
        a:visited {color:#512888;text-decoration:none;}
        a:hover {text-decoration:underline;}

  </style>
</head>
<body>
  <div id="welcome">
    <h2>
      <a href="#" data-reveal-id="meModal">About Me</a>
      <%= link_to "Portfolio", projects_path %>
      <br><%= link_to "Blog", posts_path %></br>
      <a href="/construction.html">Sign In</a>
    </h2>
  </div>
  <div id="meModal" class="reveal-modal">
     <p>I was born in Springfield MO, 1978. I grew up in St. Louis MO. My childhood
       looked a lot like the idyllic suburbia of Spielberg's E.T. By the time I
       started High School, my interests had turned to computers, technology,
       science fiction & fantasy literature, and aircraft.</p>
     <p>Following a failed attempt at college, I began cooking and working in
       restaurants because it seemed like a good idea at the time. A decade later,
       I was an experienced Chef, Manager, and all around restrauntuer.</p>
     <p>Sometime between failing at college and rising through the culinary ranks,
       I met and married a beautiful, firey woman from South America. We've shared
       a lot of adventures together and been on the move constantly.</p>
     <p>In 2013 we were blessed with our precious and precocious daughter. Everyday
       she is a reminder to me just how wonerful life, growing up, and discovery
       can be.</p>
     <p>Please enjoy here a selection of pictures from my personal journey.</p>
     <a class="close-reveal-modal">&#215;</a>
  </div>
</body>
