<style>
  @media (max-width: 475px){
  #banner {display:none;}
  }
  @media (min-width: 700px){
    #headshot {margin-top: -165px;}
  }
  #banner {margin-bottom: 15px;}
  #headshot {
    margin-right: -300px;
    margin-left: 50px;
  }
  .right {float:right;}
  .left {float:left;}
</style>

<div>
  <img src="http://s25.postimg.org/3s0esa8fj/blog_banner_earth_panorama.jpg" class="img-responsive" id="banner">
</div>

<div class= "col-md-2" id="headshot">
  <a href="/">
    <img src="http://s25.postimg.org/ci236vfan/IMG_1207.jpg" alt="Headshot" class="img-circle"></a>
  <h3>Eric D. Epperson</h3>
  <h5>Code Padawan</h5>
</div>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>A Note on Content</h3>
      <p>I've recently decided to implement a "tagging" system to help filter through my blog posts.
      I feel this will be a good system for visitors to this site to be able to more efficiently sort
      through exactly which content they want to see here. For potential employers it will make it easier
      for them to see my work thought process. For family and friends who aren't into all the technical
      stuff it makes it easier for them to see my posts about personal and family stuff without hitting a
      wall of text on Classes vs. Modules or why Ruby is better than Perl, etc.</p>
    </div>
  </div>
</div>

<% @posts.order('created_at').each do |post| %>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= link_to post.title, post %></h3>
        <small><%= post.created_at %></small>
        <p><%= post.body.html_safe %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-12 col-lg-12">
  <%= paginate @posts %>
</div>
