// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
#welcome {
  float:right;
  width: 20vw;
  color: #512888;
  font-family: 'Pontano', sans-serif;
  text-shadow: 1px 1px #bdc3c7;
  h1 {font-size: 3.5rem;}
  h2 {font-size: 2.5rem;
    a:link {color:#512888;text-decoration:none;}
    a:visited {color:#512888;text-decoration:none;}
    a:hover {text-decoration:underline;}
  }
}
#construction {
  text-align: center;
  font-family: 'Pontano', sans-serif;
  text-shadow: 2px 2px #2c3e50;
  color: #c0392b;
  h1 {font-size: 4.5rem;}
  h2 {font-size: 3rem;}
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 80%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    padding: 1rem;
}
.info {
  display: none;
  background-color: #F1EECA;
  font-family: 'Pontano', sans-serif;
  text-align:center;
}
#about {
  padding:20px;
  p{text-align:left;}}
#projects {
  padding-right:20px;
  padding-left:20px;
}
#githubs {padding:20px;}
#contact {padding:20px;}
#close {
    display: block;
    float: right;
    position: relative;
    width:30px;
    height:30px;
    margin-top: -25px;
    margin-right: -25px;
    background: url(https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/close-circle-512.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#close_projects{
  display: block;
  float: right;
  position: relative;
  width:30px;
  height:30px;
  margin-top: -5px;
  margin-right: -25px;
  background: url(https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/close-circle-512.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.project {
  text-align:left;
  min-height: 156px;
}
.screen_shot {
  float:left;
  margin-right: 5px;
  }
#down_arrow{
  text-align:center;
  margin-top:-23px;
}
#up_arrow{
  display: none;
  text-align:center;
  margin-bottom:-23px;
}
#overflow{}
#footer {}
