a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:60px;
    margin-left:-160px;
    width:300px;
    line-height:16px;
}
a.tooltip:hover span{
    display:inline;
    position:absolute;
    color:#EEE;
    background:#333;
}
.callout {
  z-index:20;
  position:absolute;
  top:-14px;
  left:120px;
}
